html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

/*ol, ul {
	//list-style: none;
}*/
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 71%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 96%;
  }
}

.header {
  background-color: #222222;
}

.header .header__navigation {
  display: none;
}

.header .header__wrapper {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
}

.header .header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
}

@media (max-width: 375px) {
  .header .header__button {
    margin: 0 0 0 0;
  }
}

.header .header__logo {
  margin: 0 10px 0 0;
}

.header .header__logo:hover {
  cursor: pointer;
  width: 47px;
  height: 40px;
}

.header .header__person-link {
  margin: 0 34px 0 0;
}

@media (max-width: 375px) {
  .header .header__person-link {
    display: none;
  }
}

.header .header__person-link:hover {
  width: 32px;
  height: 32px;
  fill: #F16D7F;
}

@media (max-width: 375px) {
  .header__person__user-img {
    display: none;
  }
}

@media (max-width: 375px) {
  .header__bascet-img {
    display: none;
  }
}

.brand {
  display: flex;
  margin: 0 0 63px;
}

@media (max-width: 375px) {
  .brand {
    min-height: 363px;
  }
}

@media (max-width: 768px) {
  .brand {
    margin: 0 0 19px;
  }
}

.brand__man {
  width: 50%;
  height: auto;
}

.brand__man:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F16D7F;
  left: -20px;
}

@media (max-width: 375px) {
  .brand__man {
    display: none;
  }
}

.brand__title {
  font-size: 48px;
  font-weight: 900px;
  line-height: 58px;
  font-style: normal;
  line-height: 57px;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .brand__title {
    font-size: 44px;
    font-weight: 900px;
    line-height: 50px;
    font-style: normal;
    line-height: 53px;
  }
}

@media (max-width: 375px) {
  .brand__title {
    font-size: 38px;
    font-weight: 900px;
    line-height: 45px;
    font-style: normal;
    line-height: 45px;
  }
}

.brand__title-wrapper {
  background-color: #F1E4E6;
  flex-grow: 1;
  align-items: center;
  display: flex;
  padding: 0 0 0 91px;
}

.brand__subtitle {
  display: block;
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}

@media (max-width: 768px) {
  .brand__subtitle {
    font-size: 24px;
    font-weight: 700px;
    line-height: 28px;
    font-style: normal;
    line-height: 17px;
  }
}

@media (max-width: 375px) {
  .brand__subtitle {
    font-size: 20px;
    font-weight: 700px;
    line-height: 24px;
    font-style: normal;
    line-height: 17px;
  }
}

.brand__subtitle-pink {
  color: #F16D7F;
}

.brand:hover::before {
  content: "";
  width: 100%;
  height: 100vh;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  cursor: pointer;
  top: 4,3%;
}

.brand:hover .brand__menu {
  display: block;
}

.brand__menu {
  width: 232px;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 1;
  position: relative;
  display: none;
  list-style-type: none;
}

.mame_menu {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.mame_menu:focus,
.mame_menu:hover {
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  line-height: 17px;
}

.menuli__item-brand__subitem {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  line-height: 17px;
  color: #6F6E6E;
}

.menu_item-brand__subitem:hover,
.menu_item-brand__subitem:focus {
  font-size: 16px;
}

.menuli {
  padding: 12px 0 1px 54px;
}

.brand__menu-menu-item-brand {
  margin: 20px 0 0 33px;
  list-style-type: none;
}

.img-menu {
  position: absolute;
  margin-left: 203px;
  margin-top: 10px;
}

.menu-h1 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  font-style: normal;
  line-height: 17px;
  position: relative;
  margin: 37px 0 0 34px;
  text-transform: uppercase;
  color: #000000;
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 375px) {
  .offers__list {
    flex-direction: column;
    width: 100%;
  }
}

.offers__list .offers__item {
  background-color: #474040;
  width: 32%;
  min-height: 42vh;
  margin: 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offers__list .offers__item--women {
  background-image: url(../img/for-women.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 375px) {
  .offers__list .offers__item--women {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .offers__list .offers__item--women {
    margin-bottom: 19px;
  }
}

.offers__list .offers__item--men {
  background-image: url(../img/for-men.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 375px) {
  .offers__list .offers__item--men {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .offers__list .offers__item--men {
    margin-bottom: 19px;
  }
}

.offers__list .offers__item--kids {
  background-image: url(../img/for-kids.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 375px) {
  .offers__list .offers__item--kids {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .offers__list .offers__item--kids {
    margin-bottom: 19px;
  }
}

.offers__list .offers__item--accesories {
  background-image: url(../img/accesories.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 29vh;
  margin: 0 0 97px;
}

.offers__list .offers__img {
  text-align: center;
}

.offers__list .offers__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.offers__list .offers__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 17px;
  font-style: normal;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
}

.items-title {
  margin: 0 0 48px;
  text-align: center;
}

.items__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #222222;
}

.items__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
}

.items__list {
  display: flex;
  margin: 0 0 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 375px) {
  .items__list {
    margin: 0 16px 0 16px;
  }
}

.items__title-product {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin: 25px 0 0 18px;
}

.items__item {
  background-color: #FBFBFB;
  width: 30%;
  position: relative;
  list-style-type: none;
  margin: 0 0 3%;
}

@media (max-width: 768px) {
  .items__item {
    width: 49%;
  }
}

@media (max-width: 375px) {
  .items__item {
    width: auto;
  }
}

.items__item-img {
  width: 100%;
}

.items__item:hover .featured-bascet {
  display: block;
  z-index: 1;
}

.items__subtitle-product {
  margin: 12px 30px 18px 18px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  font-style: normal;
  line-height: 17px;
  color: #5D5D5D;
}

.items__price {
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  line-height: 19px;
  color: #F16D7F;
  margin: 0 0 20px 18px;
}

.items__item:hover:after {
  content: '';
  width: 100%;
  min-height: 100%;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
}

.all-product {
  border: 1px solid #FF6A6A;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  line-height: 19px;
  padding: 2% 3%;
  background-color: transparent;
  color: #F26376;
  margin: 18px 0 95px 0;
}

@media (max-width: 768px) {
  .all-product {
    margin: 18px 0 95px 0;
  }
}

@media (max-width: 375px) {
  .all-product {
    margin: 41px 0 96px 0;
  }
}

.all-product:hover,
.all-product:focus {
  background: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
}

.all-product:active {
  transform: border-radius 300ms;
  border-radius: 20%;
  transform: scale(1.1);
}

.all {
  display: flex;
  justify-content: center;
}

.featured-bascet {
  min-width: 138px;
  min-height: 48px;
  background: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #FFFFFF;
  align-items: center;
  display: none;
  cursor: pointer;
}

.featured-bascet__img {
  position: absolute;
  top: 13px;
  left: 10px;
}

.featured-bascet__subtext {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  right: 10px;
  bottom: 14px;
}

.featured-bascet:hover {
  transition-property: background-color;
  transition-duration: 2s;
  background-color: #F16D7F;
}

.featured-bascet:active {
  transform: translate(-50%, -50%) rotate(720deg);
  transition: 2000ms;
  fill-opacity: 0,5;
}

/*.featured-bascet{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    max-width: 138px;
    max-height: 43px;
    display: none;

}*/
.differences {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #222224;
  min-height: 341px;
}

.differences__block {
  width: 360px;
  text-align: center;
}

.differences__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  line-height: 17px;
  color: #FBFBFB;
  margin: 23px 0 16px;
}

.differences__subtitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  font-style: normal;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

@media (max-width: 768px) {
  .differences {
    flex-direction: column;
  }
  .differences__block {
    margin: 0 0 50px;
  }
  .differences__block--delivery {
    margin-top: 50px;
  }
}

.subscribe {
  background-image: url(../../img/photosubscribe.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .subscribe {
    flex-direction: column;
    height: 714px;
  }
}

.subscribe__women {
  margin: 86px 0 126px 0;
  width: 18%;
  text-align: center;
}

@media (max-width: 768px) {
  .subscribe__women {
    width: 50%;
    margin: 14%;
    margin-top: 53px;
  }
}

.subscribe__title-women {
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  line-height: 24px;
  color: #222224;
}

.subscribe__seach {
  margin: 150px 0 156px;
}

@media (max-width: 768px) {
  .subscribe__seach {
    width: 60%;
    margin: 9%;
    margin-top: 53px;
  }
}

.subscribe__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 17px;
  font-style: normal;
  line-height: 38px;
  color: #222224;
  text-transform: uppercase;
  text-align: center;
}

.subscribe__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  line-height: 30px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.subscribe__batton {
  position: relative;
}

@media (max-width: 375px) {
  .subscribe__batton {
    margin-left: 3%;
  }
}

.subscribe__polevvoda {
  position: absolute;
  background-color: #E1E1E1;
  width: 322px;
  height: 49px;
  border-radius: 20px;
  padding: 0 0 0 22px;
}

@media (max-width: 375px) {
  .subscribe__polevvoda {
    width: 85%;
    height: 49px;
  }
}

.subscribe__type {
  position: absolute;
  background-color: #F16D7F;
  width: 23%;
  width: 100px;
  height: 53px;
  border-radius: 0 20px 20px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0 0 0 80%;
}

@media (max-width: 375px) {
  .subscribe__type {
    width: 33%;
    height: 53px;
  }
}

.subscribe__type :focus,
.subscribe__type:hover {
  background-color: #e26e91;
  color: #222222;
  opacity: 0,5;
  cursor: pointer;
}

.subscribe__type:active {
  transform: scale(1.05);
  transform: border-radius 500ms;
  border-radius: 0 20% 20% 0;
  border: none;
  cursor: pointer;
}

footer {
  background: #222224;
}

.footer-block {
  display: flex;
  justify-content: space-around;
  min-height: 79px;
  align-items: center;
}

.footer__copyrat {
  font-size: 22px;
  font-weight: 400;
  line-height: 23px;
  font-style: normal;
  line-height: 17px;
  color: #FBFBFB;
}

.social {
  display: flex;
}

.social-buttn__patterns {
  background: white;
  margin: 0 7px;
}

.social-buttn__patterns:hover,
.social-buttn__patterns:focus {
  background-color: #F16D7F;
  cursor: pointer;
  transform: rotate(720deg);
  transition: 2000ms;
  fill-opacity: 0,5;
}

.social-buttn__patterns:active {
  opacity: 0.5;
  transition: 300ms;
  transition: border-radius 500ms;
  transform: scale(1.1);
  border-radius: 10px;
}

.footer-block__copyrat {
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  line-height: 19px;
  border-radius: nullpx;
}

.registrtions {
  height: 148px;
  width: 100%;
  background: #F8F3F4;
  display: flex;
}

@media (max-width: 375px) {
  .registrtions {
    flex-direction: column;
  }
}

.registrtions__preive {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
  padding: 60px 0 0 130px;
}

@media (max-width: 768px) {
  .registrtions__preive {
    padding: 60px 0 0 16px;
    justify-content: space-between;
  }
}

@media (max-width: 375px) {
  .registrtions__preive {
    padding: 0 auto;
  }
}

.registr-form {
  display: flex;
}

@media (max-width: 375px) {
  .registr-form {
    flex-direction: column;
  }
}

.registr-form__box1 {
  display: flex;
  flex-direction: column;
  margin: 64px 0 11px 230px;
}

@media (max-width: 768px) {
  .registr-form__box1 {
    margin: 40px 22px 30px 0;
  }
}

@media (max-width: 375px) {
  .registr-form__box1 {
    margin: 0 auto;
  }
}

.registr-form__box1 .registr-form__title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

@media (max-width: 375px) {
  .registr-form__box1 .registr-form__title {
    margin-top: 40px;
  }
}

.registr-form__box1 .registr-form__pole {
  width: 360px;
  height: 45px;
  background: #FFFFFF;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  padding: 10px 0 10px 17px;
  color: #B1B1B1;
}

@media (max-width: 375px) {
  .registr-form__box1 .registr-form__pole {
    width: 93%;
  }
}

.registr-form__box2 {
  margin-left: 230px;
  margin-bottom: 33px;
}

@media (max-width: 768px) {
  .registr-form__box2 {
    margin: 0 0 0 1px;
    display: flex;
  }
}

.registr-form__box2 .radio {
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  color: #000000;
  margin: 0 20px;
}

@media (max-width: 768px) {
  .registr-form__box2 .radio {
    margin: 0 10px 33px 0;
  }
}

.radio-none {
  display: none;
}

@media (max-width: 768px) {
  .radio-none {
    display: block;
  }
}

.registr-form__box3 {
  display: flex;
  flex-direction: column;
  margin: 0 0 11px 230px;
}

@media (max-width: 768px) {
  .registr-form__box3 {
    margin: 0 0 11px 0;
  }
}

@media (max-width: 375px) {
  .registr-form__box3 {
    margin: 0 auto;
  }
}

.registr-form__box3 .registr-form__title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .registr-form__box3 .registr-form__title {
    margin: 0 0 11px 10px;
    width: auto;
  }
}

.registr-form__box3 .registr-form__pole {
  width: 360px;
  height: 45px;
  background: #FFFFFF;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  padding: 10px 0 10px 17px;
  color: #B1B1B1;
}

@media (max-width: 375px) {
  .registr-form__box3 .registr-form__pole {
    width: 93%;
  }
}

.registr-form__box3 .registr-form__subtitle {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  width: 78%;
  color: #B1B1B1;
  margin-bottom: 39px;
}

.registr-form__box3 .registr-form__button {
  width: 167px;
  height: 50px;
  background: #F16D7F;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 0 10px;
}

.registr-form__box3 .registr-form__button:hover,
.registr-form__box3 .registr-form__button:focus {
  background: #FF6A6A;
  cursor: pointer;
}

.registr-form__box3 .registr-form__button:active {
  border-radius: 10%;
  width: 170px;
  height: 55px;
}

.loyalty {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 153px;
}

@media (max-width: 768px) {
  .loyalty {
    margin: 0 0 0 53px;
  }
}

@media (max-width: 375px) {
  .loyalty {
    margin: 0 0 100px 0;
  }
}

.loyalty__title {
  margin: 64px 0 32px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 768px) {
  .loyalty__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    font-style: normal;
    line-height: 19px;
  }
}

.loyalty__subtitle {
  margin-bottom: 21px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 768px) {
  .loyalty__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    font-style: normal;
    line-height: 19px;
  }
}

.loyalty__item {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .loyalty__item {
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    font-style: normal;
    line-height: 19px;
  }
}

.loyalty__item-items {
  margin-bottom: 16px;
  list-style: url(../../img/check.svg);
  padding: 0 0 0 23px;
  font-size: 24px;
  font-weight: 300;
  color: #000000;
}

.d-block {
  width: 600px;
  height: 724px;
}

.back {
  background-color: #5D5D5D;
  margin: 0 auto;
  margin-left: 0;
}

.next {
  background-color: #5D5D5D;
  margin: 0 auto;
  margin-right: 0;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
  background-color: #F7F7F7;
}

.cart {
  margin-top: 701px;
}

.card-title {
  color: #F16D7F;
}

.card-subtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 17px;
  font-style: normal;
  line-height: 22px;
}

.card-text {
  font-size: 18;
  font-weight: 300;
  line-height: 17;
  font-style: normal;
  line-height: 22px;
  height: 51px;
  width: 50%;
}

.cena {
  color: #F16D7F;
}

.butn {
  margin-top: 130px;
  display: flex;
  margin-left: 371px;
}

.title_wrapper {
  display: flex;
  justify-content: space-between;
}

.filter__filrt {
  display: flex;
  margin-top: 50px;
}

.filter-button:hover .accordion {
  display: block;
  scroll-snap-type: none;
  position: absolute;
  margin-top: 65px;
  z-index: 1;
}

.flter__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  font-style: normal;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  margin-right: 11px;
}

@media (max-width: 375px) {
  .flter__title {
    display: none;
  }
}

@media (max-width: 375px) {
  .filter__img {
    width: 300%;
    height: 220%;
  }
}

.accordion {
  display: none;
}

.accordion-button {
  color: #F16D7F;
}

.filter__items {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  line-height: 17px;
  color: #5D5D5D;
  text-decoration-line: none;
}

.filter__items:hover {
  color: #F16D7F;
  transform: scale(1.1);
}

.filter__items--border:active {
  border: 1px solid #000000;
  background: #6F6E6E;
  border-radius: 10px;
  transition: border-radius 400ms;
}

.nav-link {
  display: block;
  padding: 0 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  font-style: normal;
  line-height: 17px;
}

@media (max-width: 375px) {
  .nav-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    font-style: normal;
    line-height: 14px;
    padding: 0 8px 0 0;
  }
}

.nav-item {
  display: inline-flex;
}

@media (max-width: 375px) {
  .nav-item {
    padding: 0 5px;
  }
}

.filter__checkbox {
  display: none;
}

.filter__nav:hover .filter__checkbox {
  display: block;
  position: absolute;
  margin: 20px 60px;
  z-index: 1;
}

.registr {
  height: 148px;
  width: 100%;
  background: #F8F3F4;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 375px) {
  .registr {
    flex-direction: column;
  }
}

.registrtions__preive--catalog {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
  padding: 60px 0 0 0;
}

@media (max-width: 375px) {
  .registrtions__preive--catalog {
    padding: 20px 0 0 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .navbar {
    margin: 0 16px 0 0;
  }
}

@media (max-width: 375px) {
  nav {
    margin: 0 auto;
  }
}

ul.grid-items__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 30px;
  list-style-type: none;
}

.grid-items__item:hover .featured-bascet {
  display: block;
  z-index: 1;
}

.items__item--grid {
  background-color: #FBFBFB;
  width: 100%;
  position: relative;
  list-style-type: none;
  margin: 0 0 3%;
}

@media (max-width: 768px) {
  .items__item--grid {
    width: 49%;
  }
}

@media (max-width: 375px) {
  .items__item--grid {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */