/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

/*ol, ul {
	//list-style: none;
}*/
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1138px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
}

.header .header__navigation {
  display: none;
}

.header .header__wrapper {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
}

.header .header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
}

.header .header__logo {
  margin: 0 10px 0 0;
}

.header .header__logo:hover {
  cursor: pointer;
  width: 47px;
  height: 40px;
}

.header .header__person-link {
  margin: 0 34px 0 0;
}

.header .header__person-link:hover {
  width: 32px;
  height: 32px;
  fill: #F16D7F;
}

.brand {
  display: flex;
  margin: 0 0 63px;
}

.brand .brand__title {
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  text-transform: capitalize;
}

.brand .brand__title-wrapper {
  background-color: #F1E4E6;
  flex-grow: 1;
  align-items: center;
  display: flex;
  padding: 0 0 0 91px;
}

.brand .brand__subtitle {
  display: block;
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}

.brand .brand__subtitle-pink {
  color: #F16D7F;
}

.brand:hover::before {
  content: "";
  width: 100%;
  min-height: 764px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  cursor: pointer;
  top: 4,3%;
}

.brand:hover .brand__menu {
  display: block;
}

.brand__menu {
  width: 232px;
  height: 764px;
  background-color: #FFFFFF;
  z-index: 1;
  position: relative;
  display: none;
  list-style-type: none;
}

.mame_menu {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.mame_menu:focus,
.mame_menu:hover {
  font-size: 16px;
  font-weight: 400;
}

.menu_item-brand__subitem {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
}

.menu_item-brand__subitem:hover,
.menu_item-brand__subitem:focus {
  font-size: 16px;
}

.menuli {
  padding: 12px 0 1px 54px;
}

.brand__menu_menu_item-brand {
  margin: 20px 0 0 33px;
  list-style-type: none;
}

.img-menu {
  position: absolute;
  margin-left: 203px;
  margin-top: 10px;
}

.menu-h1 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  position: relative;
  margin: 37px 0 0 34px;
  text-transform: uppercase;
  color: #000000;
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers__list .offers__item {
  background-color: #474040;
  width: 360px;
  min-height: 260px;
  margin: 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offers__list .offers__item--women {
  background-image: url(../img/for-women.png);
}

.offers__list .offers__item--men {
  background-image: url(../img/for-men.png);
}

.offers__list .offers__item--kids {
  background-image: url(../img/for-kids.png);
}

.offers__list .offers__item--accesories {
  background-image: url(../img/accesories.png);
  width: 100%;
  margin: 0 0 97px;
}

.offers__list .offers__img {
  text-align: center;
}

.offers__list .offers__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.offers__list .offers__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
}

.items-title {
  margin: 0 0 48px;
  text-align: center;
}

.items__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #222222;
}

.items__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
}

.items__contaner {
  display: flex;
  margin: 0 0 30px;
  justify-content: space-between;
}

.items__title-product {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: var(--black);
  text-transform: uppercase;
  margin: 25px 0 0 18px;
}

.items__item {
  background-color: #F8F8F8;
  width: 360px;
  position: relative;
}

.items__item-blok:hover .featured-bascet {
  display: block;
  z-index: 1;
}

.items__subtitle-product {
  margin: 12px 30px 18px 18px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
}

.items__price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
  margin: 0 0 20px 18px;
}

.items__item-blok:hover::after {
  content: '';
  width: 100%;
  min-height: 420px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
}

.all-product {
  border: 1px solid #FF6A6A;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding: 14px 38px;
  background-color: transparent;
  color: #F26376;
  margin: 18px 0 95px 465px;
}

.all-product:hover,
.all-product:focus {
  background: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
}

.all-product:active {
  opacity: 0.5;
}

.featured-bascet {
  min-width: 138px;
  min-height: 48px;
  background: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #FFFFFF;
  align-items: center;
  display: none;
  cursor: pointer;
}

.featured-bascet__img {
  position: absolute;
  top: 13px;
  left: 10px;
}

.featured-bascet__subtext {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  right: 10px;
  bottom: 14px;
}

/*.featured-bascet{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    max-width: 138px;
    max-height: 43px;
    display: none;

}*/
.differences {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #222224;
  min-height: 341px;
}

.differences__block {
  width: 360px;
  text-align: center;
}

.differences__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: var(--wite);
  margin: 23px 0 16px;
}

.differences__subtitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.subscribe {
  background-image: url(../img/photosubscribe.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: space-evenly;
}

.subscribe__women {
  margin: 86px 0 126px 0;
  max-width: 18%;
  text-align: center;
}

.subscribe__title-women {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: var(--blacgrai);
}

.subscribe__seach {
  margin: 150px 0 156px;
}

.subscribe__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  color: var(--blacgrai);
  text-transform: uppercase;
  text-align: center;
}

.subscribe__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}

.subscribe__batton {
  position: relative;
}

.subscribe__polevvoda {
  position: absolute;
  background-color: #E1E1E1;
  height: 49px;
  width: 322.5899658203125px;
  border-radius: 20px;
  padding: 0 0 0 22px;
}

.subscribe__type {
  position: absolute;
  background-color: #F16D7F;
  height: 53px;
  width: 100px;
  border-radius: 0 20px 20px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0 0 0 250px;
}

.subscribe__type :focus,
.subscribe__type:hover {
  background-color: #e26e91;
  color: #222222;
  opacity: 0,5;
  cursor: pointer;
}

.subscribe__type:active {
  height: 55px;
  width: 105px;
  border-radius: 20%;
  cursor: pointer;
}

footer {
  background: #222224;
}

.footer__block {
  display: flex;
  justify-content: space-around;
  min-height: 79px;
  align-items: center;
}

.footer__copyrat {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
}

.social {
  display: flex;
}

.social-buttn__patterns {
  background: white;
  margin: 0 7px;
}

.social-buttn__patterns:hover,
.social-buttn__patterns:focus {
  background-color: #F16D7F;
  cursor: pointer;
  fill-opacity: 0,5;
}

.social-buttn__patterns:active {
  width: 40px;
  height: 40px;
  outline: #FBFBFB solid 2px;
  opacity: 0.5;
}

.registrtions {
  height: 148px;
  width: 100%;
  background: #F8F3F4;
}

.registrtions__preive {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
  padding: 60px 0 0 230px;
}

.registr-form__box1 {
  display: flex;
  flex-direction: column;
  margin: 64px 0 11px 230px;
}

.registr-form__box1 .registr-form__title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registr-form__box1 .registr-form__pole {
  width: 360px;
  height: 45px;
  background: #FFFFFF;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  padding: 10px 0 10px 17px;
  color: #B1B1B1;
}

.registr-form__box2 {
  margin-left: 230px;
  margin-bottom: 33px;
}

.registr-form__box2 .radio {
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  color: #000000;
  margin: 0 20px;
}

.registr-form__box3 {
  display: flex;
  flex-direction: column;
  margin: 0 0 11px 230px;
}

.registr-form__box3 .registr-form__title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registr-form__box3 .registr-form__pole {
  width: 360px;
  height: 45px;
  background: #FFFFFF;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  padding: 10px 0 10px 17px;
  color: #B1B1B1;
}

.registr-form__box3 .registr-form__subtitle {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  width: 78%;
  color: #B1B1B1;
  margin-bottom: 39px;
}

.registr-form__box3 .registr-form__button {
  width: 167px;
  height: 50px;
  background: #F16D7F;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 0 10px;
}

.registr-form__box3 .registr-form__button:hover,
.registr-form__box3 .registr-form__button:focus {
  background: #FF6A6A;
  cursor: pointer;
}

.registr-form__box3 .registr-form__button:active {
  border-radius: 10%;
  width: 170px;
  height: 55px;
}

.registr-form {
  display: flex;
}

.loyalty {
  display: flex;
  flex-direction: column;
}

.loyalty__title {
  margin: 64px 0 32px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #000000;
}

.loyalty__subtitle {
  margin-bottom: 21px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #000000;
  width: 50%;
}

.loyalty__item {
  display: flex;
  flex-direction: column;
}

.loyalty__item_items {
  margin-bottom: 16px;
  list-style: url(../../img/check.svg);
  padding: 0 0 0 23px;
  font-size: 24px;
  font-weight: 300;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */