    $dark-blue: #222222;
    $pink: #F1E4E6;
    $darckpink: #F16D7F;
    $brawn: #474040;
    $black: #000000;
    $gray: #5D5D5D;
    $witepink: #F26376;
    $witeread: #FF6A6A;
    $wite: #FBFBFB;
    $blacgrai: #222224;
    $bood:#9F9F9F;
    $griei:#E1E1E1;
    $wite_wite:#FFFFFF;
    $yellow_green:#6F6E6E;
    $purpleblue:#F8F3F4;
    $rosered:#F16D7F;
    $lightgray:#B1B1B1;
    $desktop:1600px;
    $tablet:768px;
    $mobile:375px;
