.registrtions {
    height: 148px;
    width: 100%;
    background: #F8F3F4;
    display: flex;
    justify-content: space-around;
}
.registrtions__preive {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    color: $rosered;
    padding:60px 0 0 230px;

    @include tablet{
        padding: 60px 0 0 16px;
    }
    
    @include mobile{
        padding: 0 auto;
    }
}
