.registr-form{
    display: flex;
    @include mobile{
        flex-direction: column;
    }
}

.registr-form__box1{
    display: flex;
    flex-direction: column;
    margin: 64px 0 11px 230px ;
    @include tablet{
        margin: 40px 22px 30px 0 ;
    }
    @include mobile{
        margin: 0 auto;
    }

    .registr-form__title{
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        color: $dark-blue;
        margin-bottom: 20px;
        @include mobile{
            margin-top: 40px;
        }

    }
    .registr-form__pole{
        width:360px ;
        height: 45px;
        background:$wite_wite;
        margin-bottom: 20px;
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;
        padding: 10px 0 10px 17px;
        color: $lightgray;
        @include mobile{
            width: 93%;
        }



    }
}

.registr-form__box2{
    margin-left: 230px;
    margin-bottom: 33px;
    @include tablet{
        margin: 0 0 0 1px;
        display: flex;
    }

        .radio{
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    color: $black;
    margin: 0 20px;
    @include tablet{
        margin: 0 10px 33px 0;
        }
    }
    
}

.radio-none{
    display: none;
    @include tablet{
        display: block;
    }
}

.registr-form__box3{
    display: flex;
    flex-direction: column;
    margin: 0 0 11px 230px ;
    @include tablet{
        margin: 0 0 11px 0;
    }
    @include mobile{
        margin: 0 auto;
    }

    .registr-form__title{
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        color: $dark-blue;
        margin-bottom: 20px;
        @include tablet{
            margin: 0 0 11px 10px ;
            width: auto;
        }

    }

    .registr-form__pole{
        width:360px ;
        height: 45px;
        background:$wite_wite;
        margin-bottom: 20px;
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;
        padding: 10px 0 10px 17px;
        color: $lightgray;
        @include mobile{
            width: 93%;
        }
    
        }

        .registr-form__subtitle{
            font-size: 13px;
            font-weight: 300;
            line-height: 16px;
            width: 78%;
            color: $lightgray;
            margin-bottom: 39px;
        }
        .registr-form__button{
            width: 167px;
            height: 50px;
            background: $darckpink ;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            color: $wite_wite;
            text-transform: uppercase;
            padding: 0 10px;

        }
        .registr-form__button:hover,
        .registr-form__button:focus{
            background: $witeread;
            cursor: pointer;
        }
        .registr-form__button:active{
            border-radius: 10%;
            width: 170px;
            height: 55px;
        }

}

.loyalty{
        display: flex;
        flex-direction: column;
        margin: 0 0 0 153px;
            @include tablet{
                margin: 0 0 0 53px;
            }
            @include mobile{
                margin: 0 0 100px 0;
            }
        }
        
        
.loyalty__title{
    margin: 64px 0 32px;
    font-size: 24px;;
    font-weight: 300;
    line-height: 29px;
    color: $black;
    @include tablet{
        @include font(16px, $line:19px );
        }
}

.loyalty__subtitle{
        margin-bottom: 21px;
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        color: $black;
        @include tablet{
            @include font(16px, $line:19px );
        }
}

.loyalty__item{
            display: flex;
            flex-direction: column;
            @include tablet{
                @include font(16px,$wild: 300 ,$line:19px );
            }
            
}
.loyalty__item_items{
    margin-bottom: 16px;
    list-style: url(../../img/check.svg);
    padding: 0 0 0 23px;
    font-size: 24px;
    font-weight: 300;
    color: $black;
    }