.brand {
    display: flex;
    margin: 0 0 63px;
    @include mobile{
        min-height: 363px;
    }

    
    @include tablet{
        margin: 0 0 19px;
    }
    &__man{
        width: 50%;
        height: auto;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color:$darckpink;
            left: -20px;
        }

        @include mobile{
            display: none;
        }
    }

    &__title {  
        
        @include font(48px, 58px, 900px,57px);
        text-transform: capitalize;  
        
        @include tablet{
            @include font(44px, 50px, 900px, 53px);
        }
        @include mobile{
            @include font(38px, 45px, 900px, 45px);
        }
        
    }
    
        
    
    &__title-wrapper {
        background-color: $pink;
        flex-grow: 1;
        align-items: center;
        display: flex;
        padding: 0 0 0 91px;
    }

    &__subtitle{
        display: block;
        font-size: 37px;
        font-weight: 700;
        line-height: 44px; 
        @include tablet{
            @include font(24px, 28px, 700px);
        }
        @include mobile{
            @include font(20px, 24px, 700px);
        }
        
        }   


    &__subtitle-pink{
    color: $darckpink;
    }

}

.brand:hover::before{
    content: "";
    width: 100%;
    height:100vh;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    cursor: pointer;
    top: 4,3%;
}
.brand:hover .brand__menu{
    display: block;
    
}
.brand__menu{
    width: 232px;
    height: 100%;
    background-color: $wite_wite;
    z-index: 1;
    position: relative;
    display: none;
    list-style-type: none;
}


.mame_menu{
@include font(14px,17px,);
color: $darckpink;
text-transform: uppercase;
}

.mame_menu:focus,
.mame_menu:hover{
    @include font(16px, 17px, );
}

.menuli__item-brand__subitem{
    @include font(14px,17px);
    color:  $yellow-green;
}

.menu_item-brand__subitem:hover,
.menu_item-brand__subitem:focus{
    font-size: 16px;
}
.menuli{
    padding: 12px 0 1px 54px;
}

.brand__menu-menu-item-brand{
    margin: 20px 0 0 33px;
    list-style-type: none;
}
.img-menu{
    position: absolute;
    margin-left: 203px;
    margin-top: 10px;
}
.menu-h1{
    @include font(14px, 17px, 700);
    position: relative;
    margin: 37px 0 0 34px;
    text-transform: uppercase;
    color: $black;
}