.differences {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $blacgrai;
    min-height: 341px;
}

.differences__block {
    width: 360px;
    text-align: center;
}

.differences__title {
    @include font(20px, 24px);
    color:#FBFBFB;
    margin: 23px 0 16px;
}

.differences__subtitle {
    @include font(14px, 17px, 300);
    text-align: center;
    color: $wite;
}
@media(max-width:768px){
    .differences{
        flex-direction: column;
    }
    .differences__block{
        margin: 0 0 50px;
    }
    .differences__block--delivery{
        margin-top: 50px;
    }
}