.featured-bascet{
    min-width:138px;
    min-height: 48px;
    background:none;
    position: absolute;
    top: 40%;  
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $wite_wite;
    align-items: center;
    display: none;
    cursor: pointer;
}  

.featured-bascet__img{
    position: absolute;
    top: 13px;
    left: 10px;
}

.featured-bascet__subtext {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color:$wite_wite;
    position: absolute;
    right: 10px;
    bottom: 14px;
}





/*.featured-bascet{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    max-width: 138px;
    max-height: 43px;
    display: none;

}*/






