footer{
    background: $blacgrai;
}

.footer__block{
    display: flex;
    justify-content: space-around;
    min-height: 79px ;
    align-items: center;

}

.footer__copyrat{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: $wite;
}

.social{
    display: flex;
}

.social-buttn__patterns{
    background: white;
    margin: 0 7px;
}

.social-buttn__patterns:hover,
.social-buttn__patterns:focus {
    background-color: $darckpink;
    cursor: pointer;
    fill-opacity: 0,5;

}

.social-buttn__patterns:active{
    width: 40px;;
    height: 40px;
    outline:$wite solid 2px;
    opacity: 0.5 ;
}