footer{
    background: $blacgrai;
}

.footer-block{
    display: flex;
    justify-content: space-around;
    min-height: 79px ;
    align-items: center;

}

.footer__copyrat{
    @include font(22px, 23px);
    color: $wite;
}

.social{
    display: flex;
}

.social-buttn__patterns{
    background: white;
    margin: 0 7px;
}

.social-buttn__patterns:hover,
.social-buttn__patterns:focus {
    background-color: $darckpink;
    cursor: pointer;
    transform: rotate(720deg);
    transition: 2000ms;
    fill-opacity: 0,5;


}

.social-buttn__patterns:active{
    opacity: 0.5 ;
    transition: 300ms;
    transition: border-radius 500ms;
    transform: scale(1.1) ;
    border-radius: 10px;
}

.footer-block__copyrat{
    @include font(16px, $line:19px);
    border-radius: nullpx;

}