.header {
    background-color: $dark-blue;
    
    .header__navigation {
        display: none;
    }
    
    .header__wrapper {
        display: flex;
        align-items: center;
        min-height: 75px;
        justify-content: space-between;
    
    }
    
    .header__button {
        background-color: transparent;
        border: none;
        margin: 0 34px 0 0;
        @include mobile{
            margin: 0 0 0 0 ;
        }
    

        
    
    }
    
    
    .header__logo {
        margin: 0 10px 0 0;
    
    }

    .header__logo:hover {
        cursor: pointer;
        @include size (47px, 40px);
    }
    
    .header__person-link {
        margin: 0 34px 0 0;
        @include mobile{
            display: none;
        }
    
    }

    .header__person-link:hover {
        width: 32px;
        height: 32px;
        fill: $darckpink;
    }
}

.user_img{
    @include mobile{
            display: none;
        }
    
}

.bascet_img{
    @include mobile{
            display: none;
        }
    


}