.items-title {
    margin: 0 0 48px;
    text-align: center;
}

.items__title{
font-size: 30px;
font-weight: 400;
line-height: 36px;
color: $dark-blue;
}

.items__subtitle{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: $bood;
}
.items__list {
    display: flex;
    margin: 0 0 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mobile{
        margin: 0 16px 0 16px;
    }
}

.items__title-product {
font-size: 13px;
font-weight: 400;
line-height: 16px;
color: $black;
text-transform: uppercase;
margin: 25px 0 0 18px;
}

.items__item {
    background-color:$wite;
    width: 30%;
    position: relative;
    list-style-type: none;
    margin: 0 0 3%;
    @include tablet{
        width: 49%;
    }
    @include mobile{
        width: auto;
    }
}

.items__item-img{
    width: 100%;
}

.items__item:hover .featured-bascet {
    display: block;
    z-index: 1;
}
.items__subtitle-product {
    margin: 12px 30px 18px 18px;
    @include font(14px, $wild:300);
    color: $gray;
}

.items__price {
    @include font(16px, $line: 19px);
    color: $darckpink;
    margin: 0 0 20px 18px;
}

.items__item:hover:after{
    content: '';
    width: 100%;
    min-height: 100%;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    
}

.all-product {
    border: 1px solid $witeread;
    @include font(16px, $line: 19px);
    padding: 2% 3%;
    background-color: transparent;
    color: $witepink;
    margin: 18px 0 95px 0;
    @include tablet{
        margin: 18px 0 95px 0;
    }
    @include mobile{
        margin: 41px 0 96px 0;
    }
}

.all-product:hover,
.all-product:focus {
    background: $darckpink;
    @include font(16px, $line: 19px);
    color: $wite_wite;
    cursor: pointer;
}

.all-product:active{
    transform: border-radius 300ms;
    border-radius: 20%;
    transform: scale(1.1);
    
    
}
.all{
    display: flex;
    justify-content: center;

}

