.offers__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    @include mobile{
        flex-direction: column;
        width: 100%;
    }


    .offers__item {
        background-color: $brawn;
        width: 32%;
        min-height: 42vh;
        margin: 0 0 30px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .offers__item--women {
        background-image: url(../img/for-women.png);
        background-repeat: no-repeat;
        background-size: cover;
    
        @include mobile{
            width: 100%;
        }
        @include tablet{
            margin-bottom: 19px;
        }
    }

    .offers__item--men {
        background-image: url(../img/for-men.png);
        background-repeat: no-repeat;
        background-size: cover;
        @include mobile{
            width: 100%;
        }
        @include tablet{
            margin-bottom: 19px;
        }
    }

    .offers__item--kids {
        background-image: url(../img/for-kids.png);
        background-repeat: no-repeat;
        background-size: cover;
        @include mobile{
            width: 100%;
        }
        @include tablet{
            margin-bottom: 19px;
        }
    }

    .offers__item--accesories {
        background-image: url(../img/accesories.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 29vh;
        margin: 0 0 97px;
    }

    .offers__img {
        text-align: center;

    }

    .offers__title {
    @include font(16px,$line: 19px,);
    color: $wite_wite;
    text-transform: uppercase;
    }

    .offers__subtitle {
        @include font(24px, $wild:700, $line: 29px,);
        text-transform: uppercase;
        color: $darckpink;
    }

}