.subscribe{
    background-image:url(../../img/photosubscribe.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    @include tablet{
        flex-direction: column;
        height: 714px;
    }

}

.subscribe__women {
    margin: 86px 0 126px 0;
    width: 18%;
    text-align: center;
    @include tablet{
        width: 50%;
        margin:14%;
        margin-top: 53px;
    }
}
.subscribe__title-women {
    @include font(20px, $line: 24px);
    color:$blacgrai;
}
.subscribe__seach {
    margin: 150px 0 156px;
    @include tablet{
        width: 60%;
    margin: 9%;
    margin-top: 53px;
    }
}
.subscribe__title {
    @include font(24px, $wild:700, $line: 38px);
    color: $blacgrai;
    text-transform: uppercase;
    text-align: center;
    }
.subscribe__subtitle {
    @include font(18px, $line: 30px);
    margin-bottom: 32px;
    text-transform: uppercase;;
    
}

.subscribe__batton{
    position: relative;
    @include mobile{
        margin-left: 3%;
    }
}

.subscribe__polevvoda{
    position: absolute;
    background-color: $griei;
    @include size(322px, 49px);
    border-radius: 20px;
    padding: 0 0 0 22px;
    @include mobile{
        @include size(85%, 49px);
    }

}

.subscribe__type{
    position: absolute;
    background-color: $darckpink;
    width: 23%;
    @include size(100px, 53px);
    border-radius: 0 20px 20px 0;
    @include font(14px,);
    color: $wite_wite;
    margin:0 0 0 80%;
    @include mobile{
        @include size(33%, 53px);
    }
}
.subscribe__type :focus,
.subscribe__type:hover{
    background-color: rgb(226, 110, 145);
    color: $dark-blue;
    opacity: 0,5;
    cursor: pointer;

}

.subscribe__type:active{
    transform: scale(1.05);
    transform: border-radius 500ms;
    border-radius:0 20% 20% 0;
    border: none;
    cursor: pointer;
}

